@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600&display=swap');
/* Third-party components */
@import 'vendor.css';

@layer base {
   html {
      @apply text-gray-700;
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      @apply text-gray-800;
      @apply font-secondary;
   }
}

@layer components {
   .fade-enter {
      opacity: 0.01;
   }

   .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
   }

   .fade-leave {
      opacity: 1;
   }

   .fade-leave.fade-leave-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
   }
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
   }

   .gradient-active-effect {
      @apply gradient-hover-effect text-white fill-white before:opacity-100;
   }

   .gradient-hover-effect {
      @apply overflow-hidden z-0 relative before:bg-gradient-active hover:text-white hover:fill-white before:-z-10 before:top-0 before:bottom-0 before:left-0 before:right-0 before:absolute before:opacity-0 before:hover:opacity-100 before:transition-all;
   }

   .icon-hover-effect {
      @apply hover:fill-asylum-blue transition-all;
   }
}
