@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@layer components {
  .custom-text {
    font-family: "Roboto Mono", monospace;
  }
  .text-header-of-page {
    letter-spacing: -0.4px;
  }
  .empty-img {
    background-image: url("../public/empty-img.jpg");
    background-size: cover;
  }
}
